$baseColor: #2A2B36;
$fontColor: #FFFFFF;
$highlightFontColor: #EED369;
$regularFontWeight: 100;
$boldFontWeight: bold;

@mixin flex($horizontalStyle: inherit, $verticalStyle: inherit) {
    display: flex;
    justify-content: $horizontalStyle;
    align-items: $verticalStyle;
}